BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 001

CREATE EXTENSION IF NOT EXISTS postgis;;

CREATE TABLE users (
    id SERIAL NOT NULL, 
    name VARCHAR NOT NULL, 
    email VARCHAR NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_users_email ON users (email);

CREATE INDEX ix_users_id ON users (id);

CREATE TABLE forts (
    id SERIAL NOT NULL, 
    name VARCHAR NOT NULL, 
    marathi_name VARCHAR, 
    description TEXT, 
    geometry geometry(POINT,4326) NOT NULL, 
    elevation FLOAT, 
    district VARCHAR, 
    difficulty VARCHAR, 
    best_season VARCHAR, 
    history TEXT, 
    image_url VARCHAR, 
    source VARCHAR, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id)
);

CREATE INDEX idx_forts_geometry ON forts USING gist (geometry);

CREATE INDEX ix_forts_district ON forts (district);

CREATE INDEX ix_forts_id ON forts (id);

CREATE INDEX ix_forts_name ON forts (name);

CREATE TABLE fort_viewpoints (
    id SERIAL NOT NULL, 
    fort_id INTEGER NOT NULL, 
    name VARCHAR NOT NULL, 
    type VARCHAR, 
    geometry geometry(POINT,4326) NOT NULL, 
    elevation FLOAT, 
    description TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(fort_id) REFERENCES forts (id) ON DELETE CASCADE
);

CREATE INDEX idx_fort_viewpoints_geometry ON fort_viewpoints USING gist (geometry);

CREATE INDEX ix_fort_viewpoints_id ON fort_viewpoints (id);

CREATE TABLE fort_structures (
    id SERIAL NOT NULL, 
    fort_id INTEGER NOT NULL, 
    name VARCHAR NOT NULL, 
    type VARCHAR, 
    geometry geometry(GEOMETRY,4326) NOT NULL, 
    description TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(fort_id) REFERENCES forts (id) ON DELETE CASCADE
);

CREATE INDEX idx_fort_structures_geometry ON fort_structures USING gist (geometry);

CREATE INDEX ix_fort_structures_id ON fort_structures (id);

CREATE TABLE fort_trails (
    id SERIAL NOT NULL, 
    fort_id INTEGER NOT NULL, 
    name VARCHAR NOT NULL, 
    difficulty VARCHAR, 
    geometry geometry(LINESTRING,4326) NOT NULL, 
    distance_km FLOAT, 
    estimated_time_hours FLOAT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(fort_id) REFERENCES forts (id) ON DELETE CASCADE
);

CREATE INDEX idx_fort_trails_geometry ON fort_trails USING gist (geometry);

CREATE INDEX ix_fort_trails_id ON fort_trails (id);

CREATE TABLE fort_connections (
    source_fort_id INTEGER NOT NULL, 
    target_fort_id INTEGER NOT NULL, 
    distance_km FLOAT, 
    bearing_deg FLOAT, 
    visibility_status VARCHAR, 
    visibility_score FLOAT, 
    last_calculated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (source_fort_id, target_fort_id), 
    FOREIGN KEY(source_fort_id) REFERENCES forts (id) ON DELETE CASCADE, 
    FOREIGN KEY(target_fort_id) REFERENCES forts (id) ON DELETE CASCADE
);

CREATE TABLE terrain_tiles (
    id SERIAL NOT NULL, 
    tile_name VARCHAR NOT NULL, 
    zoom_level INTEGER NOT NULL, 
    geometry geometry(POLYGON,4326) NOT NULL, 
    file_path VARCHAR NOT NULL, 
    resolution_m FLOAT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id)
);

CREATE INDEX idx_terrain_tiles_geometry ON terrain_tiles USING gist (geometry);

CREATE INDEX ix_terrain_tiles_id ON terrain_tiles (id);

CREATE UNIQUE INDEX ix_terrain_tiles_tile_name ON terrain_tiles (tile_name);

CREATE TABLE historical_documents (
    id SERIAL NOT NULL, 
    title VARCHAR NOT NULL, 
    content TEXT NOT NULL, 
    source_url VARCHAR, 
    fort_id INTEGER, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(fort_id) REFERENCES forts (id) ON DELETE SET NULL
);

CREATE INDEX ix_historical_documents_id ON historical_documents (id);

CREATE TABLE document_chunks (
    id SERIAL NOT NULL, 
    document_id INTEGER NOT NULL, 
    chunk_index INTEGER NOT NULL, 
    content TEXT NOT NULL, 
    embedding FLOAT[], 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(document_id) REFERENCES historical_documents (id) ON DELETE CASCADE
);

CREATE INDEX ix_document_chunks_id ON document_chunks (id);

CREATE TABLE chat_sessions (
    id SERIAL NOT NULL, 
    user_id INTEGER NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE INDEX ix_chat_sessions_id ON chat_sessions (id);

CREATE TABLE chat_messages (
    id SERIAL NOT NULL, 
    session_id INTEGER NOT NULL, 
    role VARCHAR NOT NULL, 
    content TEXT NOT NULL, 
    latitude FLOAT, 
    longitude FLOAT, 
    heading FLOAT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(session_id) REFERENCES chat_sessions (id) ON DELETE CASCADE
);

CREATE INDEX ix_chat_messages_id ON chat_messages (id);

CREATE TABLE visibility_results (
    id SERIAL NOT NULL, 
    observer_lat FLOAT NOT NULL, 
    observer_lon FLOAT NOT NULL, 
    observer_elevation FLOAT NOT NULL, 
    fort_id INTEGER NOT NULL, 
    visibility_status VARCHAR NOT NULL, 
    visibility_score FLOAT NOT NULL, 
    calculated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    expires_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(fort_id) REFERENCES forts (id) ON DELETE CASCADE
);

CREATE INDEX ix_visibility_results_expires_at ON visibility_results (expires_at);

CREATE INDEX ix_visibility_results_fort_id ON visibility_results (fort_id);

CREATE INDEX ix_visibility_results_id ON visibility_results (id);

CREATE INDEX ix_visibility_results_observer_lat ON visibility_results (observer_lat);

CREATE INDEX ix_visibility_results_observer_lon ON visibility_results (observer_lon);

INSERT INTO alembic_version (version_num) VALUES ('001') RETURNING alembic_version.version_num;

COMMIT;

